<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Deniz Aga</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Bungee'><link rel="stylesheet" href="../static/style.css">
  <STYLE>A {text-decoration: none;} </STYLE>
<script>
  function fadeInPage() {
    if (!window.AnimationEvent) { return; }
    var fader = document.getElementById('fader');
    fader.classList.add('fade-out');
  }
  document.addEventListener('DOMContentLoaded', function() {
    if (!window.AnimationEvent) { return; }
    var anchors = document.getElementsByTagName('a');

    for (var idx=0; idx<anchors.length; idx+=1) {
      console.log(anchors)
      if (anchors[idx].hostname !== window.location.hostname ||
            anchors[idx].pathname === window.location.pathname) {
            continue;
        }
      anchors[idx].addEventListener('click', function(event) {
            var fader = document.getElementById('fader'),
                anchor = event.currentTarget;

            var listener = function() {
                window.location = anchor.href;
                fader.removeEventListener('animationend', listener);
            };
            fader.addEventListener('animationend', listener);

            event.preventDefault();
            fader.classList.add('fade-in');
        });
    }
    window.addEventListener('pageshow', function (event) {
    if (!event.persisted) {
      return;
    }
    var fader = document.getElementById('fader');
    fader.classList.remove('fade-in');
});
});
</script>

</head>
<body>
<svg id="fader"></svg>
<!-- partial:index.partial.html -->
<script>
    fadeInPage();
</script>
<div class="glitch">
  <a href="/main">
  <div class="glitch__item"></div>
  <div class="glitch__item"></div>-->
  <div class="glitch__item"></div>-->
  <div class="glitch__item"></div>
  <div class="glitch__item"></div>
  <h1 class="glitch__title">DENIZ AGA</h1>
  </a>
</div>


</body>
</html>
